<div id="menu">

</div>
<div style="position: fixed; z-index: 10; width: 100%; background-color: rgba(0, 0, 0, 0.274);">
  <figure class="logoDH">
    <img src="/img/logo-DH.png" alt="Logo Digital House">
  </figure>

</div>